<html>
 <head>
  <title>web.py test</title>
 </head>

 <body> 
  <form method="POST" action=""  enctype="multipart/form-data" > 
username:<input type="text" name="un" value=""/> 
passwd:<input type="password" name="pwd" value=""/> 
   <select name="adserver_id" id="adserver_id" multiple=""> 
      <option value="1">Coretest2 - 1</option> 
      <option value="2">Coretest3 - 1</option> 
      <option value="3">Coretest4 - 1</option> 
      <option value="4">Coretest2 - 2</option> 
      <option value="5">Coretest3 - 2</option> 
      <option value="6">Coretest4 - 2</option> 
   </select> 
   <input type="submit" value="submit"/> 
  </form> 
 </body>
</html>
